body {
  background-color: #f44b42;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
 
}

h1{
  color: white;
  font-size: 40px;
  text-align: center;
}

button{
  position: relative;
  left: 500px;
  padding: 15px 50px;
  background-color: white;
  border-radius: 5px;
}
