<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <h1>My List</h1>
  <form action="/new-list" method="POST">
    <span onclick="addLine()">
      <i class="fa fa-plus"></i>
    </span>
    <span onclick="removeLine()">
      <i class="fa fa-trash"></i>
    </span>
    <!-- <input placeholder="insert text" type="text" name="itemName"> -->
    <button class="add" type="submit">Save</button>
    <ul id="item-list" style="list-style:none;">
        <li>
          <input placeholder="insert text" type="text" name="itemName" required>
        </li>
      </ul>
  </form>
  <div></div>

  <script type="text/javascript">
    var addLine = function () {
      var el = document.createElement('li');
      el.innerHTML = '<input placeholder="insert text" type="text" name="itemName" required> ';
      document.getElementById('item-list').appendChild(el);
    }
    var removeLine = function () {
      var list = document.getElementById('item-list')
      list.removeChild(list.childNodes[0]);
    }
  </script>
</body>

</html>