<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h1>My List</h1>
<form action="/new-list" method="POST">
  <input placeholder="insert text" type="text" name="itemName">
  <button class="add" type="submit">Add</button>
  <span><i class="fa fa-cut" style="font-size:24px"></i></span>

</form>
<div></div>

  
</body>
</html>

